# Resources.
algLG.txt
notes
deThread.postman_collection.json
*.zip

# Generated assets and logs.
node_modules
bundle.js
*.log

# Environment variables.
.env

# Elastic Beanstalk Files.
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
